server:
  port: 9001

spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://47.98.206.89:3306/coal_trade?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=UTC&&allowPublicKeyRetrieval=true&&useAffectedRows=true
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    date-format: com.fasterxml.jackson.databind.util.StdDateFormat
  redis:
    port: 6379
    host: 127.0.0.1
    lettuce:
      pool:
        max-active: 8
        max-wait: -1ms
        max-idle: 8
mybatis:
  type-aliases-package: com.example.project3.pojo
  mapper-locations: classpath:mybatis/mapper/*.xml
  configuration:
    lazy-loading-enabled: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    cache-enabled: true
