<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project3.dao.BidDao">
    <resultMap id="BidMap" type="com.example.project3.pojo.Bid">
        <id column="id" property="id" javaType="integer" jdbcType="INTEGER"/>
        <result column="enable" property="enable" javaType="byte" jdbcType="TINYINT"/>
        <result column="firstPartIsSeller" property="firstPartIsSeller" javaType="integer" jdbcType="TINYINT"/>
        <result column="amount" property="amount" javaType="integer" jdbcType="INTEGER"/>
        <result column="price" property="price" javaType="decimal" jdbcType="DECIMAL"/>
        <result column="coal" property="coal" javaType="string" jdbcType="VARCHAR"/>
        <result column="transportWay" property="transportWay" javaType="string" jdbcType="VARCHAR"/>
        <result column="transportFee" property="transportFee" javaType="decimal" jdbcType="DECIMAL"/>
        <result column="address" property="address" javaType="string" jdbcType="VARCHAR"/>
        <result column="offerBond" property="offerBond" javaType="decimal" jdbcType="DECIMAL"/>
        <result column="performBond" property="offerBond" javaType="decimal" jdbcType="DECIMAL"/>
        <result column="message" property="message" javaType="decimal" jdbcType="DECIMAL"/>
        <result column="qnetar" property="qnetar" javaType="double" jdbcType="DOUBLE"/>
        <result column="mt" property="mt" javaType="double" jdbcType="DOUBLE"/>
        <result column="aar" property="aar" javaType="double" jdbcType="DOUBLE"/>
        <result column="varHigh" property="varHigh" javaType="double" jdbcType="DOUBLE"/>
        <result column="varLow" property="varLow" javaType="double" jdbcType="DOUBLE"/>
        <result column="star" property="star" javaType="double" jdbcType="DOUBLE"/>
        <result column="st" property="st" javaType="double" jdbcType="DOUBLE"/>
        <result column="hgi" property="hgi" javaType="double" jdbcType="DOUBLE"/>
        <result column="grain" property="grain" javaType="double" jdbcType="DOUBLE"/>
        <result column="fc" property="fc" javaType="double" jdbcType="DOUBLE"/>
        <result column="g" property="g" javaType="double" jdbcType="DOUBLE"/>
        <result column="y" property="y" javaType="double" jdbcType="DOUBLE"/>
        <result column="sodiumBasicOxide" property="sodiumBasicOxide" javaType="double" jdbcType="DOUBLE"/>

    </resultMap>
    <insert id="save" parameterType="com.example.project3.pojo.Bid" useGeneratedKeys="true" keyColumn="id"
            keyProperty="bid.id">
        insert into bid values (#{bid.id,jdbcType=INTEGER},#{bid.enable,jdbcType=TINYINT},
        #{bid.firstPartIsSeller,jdbcType=INTEGER},#{bid.corporateId,jdbcType=INTEGER},
        #{bid.amount,jdbcType=INTEGER},#{bid.price,jdbcType=DECIMAL},
        #{bid.coal,jdbcType=VARCHAR},#{bid.transportWay,jdbcType=VARCHAR},
        #{bid.transportFee,jdbcType=DECIMAL},#{bid.address,jdbcType=VARCHAR},
        #{bid.offerBond,jdbcType=DECIMAL},#{bid.performBond,jdbcType=DECIMAL},
        #{bid.message,jdbcType=VARCHAR},
        #{bid.qnetar,jdbcType=DOUBLE},#{bid.qnetar,jdbcType=DOUBLE},
        #{bid.aar,jdbcType=DOUBLE},#{bid.varHigh,jdbcType=DOUBLE},
        #{bid.varLow,jdbcType=DOUBLE},#{bid.star,jdbcType=DOUBLE},
        #{bid.st,jdbcType=DOUBLE},#{bid.hgi,jdbcType=DOUBLE},
        #{bid.grain,jdbcType=DOUBLE},#{bid.fc,jdbcType=DOUBLE},
        #{bid.g,jdbcType=DOUBLE},#{bid.y,jdbcType=DOUBLE},
        #{bid.sodiumBasicOxide,jdbcType=DOUBLE}
        )
    </insert>
    <update id="delete" parameterType="integer">
        update bid set enable = 1
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="drop" parameterType="integer">
        delete from bid where id = #{id,jdbcType=INTEGER}
    </delete>
    <select id="select" resultMap="BidMap">
        select * from bid
        where id=#{id,jdbcType=INTEGER} and enable = 0
    </select>
    <select id="selectAll" resultMap="BidMap">
        select * from bid where enable = 0
    </select>
    <select id="selectByCorporationId" resultMap="BidMap">
        select * from bid
        where id=#{corporationId,jdbcType=INTEGER} and enable = 0
    </select>
    <update id="update" parameterType="com.example.project3.pojo.Bid">
        update bid set
        firstPartIsSeller=#{bid.firstPartIsSeller,jdbcType=INTEGER}
        ,amount=#{bid.amount,jdbcType=INTEGER}
        ,price=#{bid.price,jdbcType=DECIMAL}
        ,coal=#{bid.coal,jdbcType=VARCHAR}
        ,transportWay=#{bid.transportWay,jdbcType=VARCHAR}
        ,transportFee=#{bid.transportFee,jdbcType=DECIMAL}
        ,address=#{bid.address,jdbcType=VARCHAR}
        ,offerBond=#{bid.offerBond,jdbcType=DECIMAL}
        ,performBond=#{bid.performBond,jdbcType=DECIMAL}
        ,message=#{bid.message,jdbcType=VARCHAR}
        ,qnetar=#{bid.qnetar,jdbcType=DOUBLE}
        ,mt=#{bid.mt,jdbcType=DOUBLE}
        ,aar=#{bid.aar,jdbcType=DOUBLE}
        ,varHigh=#{bid.varHigh,jdbcType=DOUBLE}
        ,varHigh=#{bid.varLow,jdbcType=DOUBLE}
        ,star=#{bid.star,jdbcType=DOUBLE}
        ,st=#{bid.st,jdbcType=DOUBLE}
        ,hgi=#{bid.hgi,jdbcType=DOUBLE}
        ,grain=#{bid.grain,jdbcType=DOUBLE}
        ,fc=#{bid.fc,jdbcType=DOUBLE}
        ,g=#{bid.g,jdbcType=DOUBLE}
        ,y=#{bid.y,jdbcType=DOUBLE}
        ,sodiumBasicOxide=#{bid.sodiumBasicOxide,jdbcType=DOUBLE}
        where id=#{bid.id,jdbcType=INTEGER}
    </update>
</mapper>